<div style="width: 100vw;min-height: 100vh;">
<div class="login-container">

  <header class="login__header">
    <div class="login__header__left" style="margin-right: 18%;">
      <!-- <img alt="logo" src="assets/Pixogram.png"> -->
      <div >
        <img style="height: 300px; width: 500px; " src="assets/pixogramLogo21.png"/>
        <h2 style="margin-left: 8%;">Pixogram helps you to connect and share with people in your life.</h2>
      <!-- <h1 style="color:#4267B2; font-size: 100px; font-family:  Cursive;">Pixogram</h1> -->
    </div>
      <!-- <div style="margin-left: 15%;">
      
    </div> -->
    </div>
    <div class="login__header__right">
      <mat-card class="login__header__right__card">
        <mat-card-content class="login__header__right__card__content">
          <form #form="ngForm" (ngSubmit)="login(form)" class="login-form">
            <input name="username" ngModel placeholder="Username" required type="text">
            <input name="password" ngModel placeholder="Password" required type="password">
            <button [disabled]="form.invalid || form.pending"
                    class="login-button"
                    *ngIf="!form.pending"
                    type="submit">Log In
            </button>
          </form>
          <a style="color:#4267B2">Forgot account?</a>
          <hr>
          <button class="create-account" (click)="openRegister()">Create New Account</button>
        </mat-card-content>

      </mat-card>

      <p class="tagline"><strong>Create a Page</strong> for celebrity, band or business.</p>
    </div>


  </header>


  <footer class="login__footer">
  </footer>
</div>
</div>
